@model Question

<h2>删除歇后语</h2>

<div class="alert alert-danger">
    <h4>确定要删除这条歇后语吗？</h4>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">内容</dt>
        <dd class="col-sm-10">@Model.Content</dd>
        
        <dt class="col-sm-2">答案</dt>
        <dd class="col-sm-10">@Model.Answer</dd>
        
        <dt class="col-sm-2">难度</dt>
        <dd class="col-sm-10">@Model.Difficulty</dd>
        
        <dt class="col-sm-2">分类</dt>
        <dd class="col-sm-10">@Model.Category</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">返回列表</a>
    </form>
</div> 